
/* 

*** color
*** 
*** 

*/




/*==================================================

*** color
==================================================*/

$key: #2100ad;
$gray: #3b3b3b;
$category-1: #a0a0a0;
$category-2: #eeeeee;


/*==================================================

*** 
==================================================*/





/*==================================================

*** 
==================================================*/