@charset "UTF-8";
/* 

*** media queries
*** font
*** layout

*/
/*==================================================

*** media queries
==================================================*/
/*==================================================

*** font
==================================================*/
* {
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 768px) {
  body {
    /* < 768px */
    font-size: 1.4rem;
  }
}

.oswald {
  font-family: "Oswald", sans-serif;
}

/*==================================================

*** layout
==================================================*/
.sp {
  display: none;
}
@media (max-width: 480px) {
  .sp {
    /* < 480px */
    display: block;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}
@media (max-width: 1024px) {
  .wrap {
    /* < 1024px */
    max-width: 820px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .wrap {
    /* < 768px */
    max-width: 720px;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .wrap {
    /* < 480px */
    max-width: 360px;
    width: 90%;
  }
}

.bg-black {
  display: block;
  position: relative;
  width: 100%;
  color: #fff;
  background: #000;
}

h1 {
  font-size: 15rem;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 70px rgba(0, 0, 0, 0.7);
  line-height: 1;
}
@media (max-width: 1024px) {
  h1 {
    /* < 1024px */
    font-size: 12rem;
  }
}
@media (max-width: 768px) {
  h1 {
    /* < 768px */
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  h1 {
    /* < 480px */
    font-size: 6rem;
  }
}

h2 {
  margin-top: 120px;
  font-size: 7rem;
  font-family: "Oswald", sans-serif;
}
@media (max-width: 768px) {
  h2 {
    /* < 768px */
    margin-top: 10rem;
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  h2 {
    /* < 480px */
    margin-top: 80px;
    font-size: 5rem;
  }
}

h2 + * {
  margin-top: 70px;
  /* ⭐️60pxでもいいのでは？ */
}
@media (max-width: 768px) {
  h2 + * {
    /* < 768px */
    margin-top: 5.8rem;
  }
}
@media (max-width: 480px) {
  h2 + * {
    /* < 480px */
    margin-top: 4.6rem;
  }
}

.h2-jp {
  display: block;
  margin-top: 15px;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .h2-jp {
    /* < 768px */
    margin-top: 10px;
  }
}

h3 {
  font-size: 2.4rem;
}
@media (max-width: 768px) {
  h3 {
    /* < 768px */
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h3 {
    /* < 480px */
    font-size: 1.8rem;
  }
}

h3 + * {
  margin-top: 34px;
}