
/* 

*** media queries
*** font
*** layout

*/



/*==================================================

*** media queries
==================================================*/


$pc: 1366px;
$tab-l: 1024px;
$tab-s: 768px;
$sp: 480px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab-l {
  @media (max-width: ($tab-l)) {
    @content;
  }
}
@mixin tab-s {
  @media (max-width: ($tab-s)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// @include pc-l{ /* < 1366px */
// }

// @include tab-l{ /* < 1024px */
// }

// @include tab-s{ /* < 768px */
// }

// @include sp{ /* < 480px */
// }



/*==================================================

*** font
==================================================*/

*{
  font-family: 'Noto Sans JP', sans-serif
}

.oswald{
  font-family: 'Oswald', sans-serif;
}



/*==================================================

*** layout
==================================================*/

.pc{
  
}

.sp{

}


.wrap{
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;

    @include tab-s{ /* < 768px */
      max-width: 720px;
      width: 90%;
    }
    @include sp{ /* < 480px */
      max-width: 360px;
      width: 90%;
    }
}

.top-bg{
  display: block;
  position: relative;
  width: 100%;
  color: #fff;
  background: #000;
  z-index: -2;
}



h1{
  font-size: 15rem;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 70px rgba(0,0,0,0.7);
  line-height: 1;

  @include tab-l{ /* < 1024px */
    font-size: 12rem;
  }
  @include tab-s{ /* < 768px */
    display: inline-block;
    font-size: 10rem;
  }
  @include sp{ /* < 480px */
    font-size: 6rem;
  }
}

h2{
  margin-top: 120px;
  font-size: 7rem;
  font-family: 'Oswald', sans-serif;

  @include tab-s{ /* < 768px */
    margin-top: 10rem;
    font-size: 6rem;
  }
  @include sp{ /* < 480px */
    margin-top: 80px;
    font-size: 5rem;
  }
}

h2 + *{
  margin-top: 70px;

  @include tab-s{ /* < 768px */
    margin-top: 5.8rem;
  }
  @include sp{ /* < 480px */
    margin-top: 4.6rem;
  }
}

.h2-jp{
  display: block;
  margin-top: 15px;
  font-size: 1.8rem;

    @include tab-s{ /* < 768px */
      margin-top: 10px;
    }
    // @include sp{ /* < 480px */
    // }
}

h3{
  font-size: 2.4rem;

  @include tab-s{ /* < 768px */
    font-size: 2rem;
  }
  @include sp{ /* < 480px */
    font-size: 1.8rem;
  }
}

h3 + *{
  margin-top: 34px;
}




