
// ****** gnav

.gnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background: #111111;
    color: #ffffff;
    font-size: 1.5rem;
}

.gnav__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    width: 820px;

    @include pc{ /* < 1366px */
        width: 60%;
        min-width: 680px;
    }
    @include tab-l{ /* < 1024px */
        display: inline-block;
        min-width: 0;
    }
    @include tab-s{ /* < 768px */
        margin-left: 20px;
    }
    // @include sp{ /* < 480px */
    // }
}

.gnav__logo{
    margin-right: 40px;
    // min-width: 236px;

    @include pc{ /* < 1366px */
        width: 29%;
        min-width: 210px;
    }
    @include tab-l{ /* < 1024px */
        margin-right: 0;
    }
    // @include tab-s{ /* < 768px */
    // }
    @include sp{ /* < 480px */
        width: 43%;
        min-width: 180px;
    }
}

.gnav__logo > img{
    width: 100%;
}

.gnav__nav__inner{
    width: 65%;

    @include tab-l{ /* < 1024px */
        display: none;
    }
}

.gnav__list{
    display: flex;
    justify-content: space-between;
}

.gnav__list__item{

}

.gnav__list__item:not(:last-of-type){
    // margin-right: 30px;
}

.gnav__list__item > a{

}


// ****** gnav__btns

.gnav__btns{
    display: flex;
}

.btn__resruit{
    width: 113px;

    @include tab-s{ /* < 768px */
        display: none;
    }
}

.btn__contact{
    @include sp{ /* < 480px */
        display: none;
    }
}

.btn__resruit > a,
.btn__contact > a{
    position: relative;
    display: inline-block;
    padding: 0 18px 0 35px;
    line-height: 74px;
}

.btn__resruit > a{
    width: 113px;
    background: $gray;
}

.btn__contact > a{
    width: 143px;
}

.btn__resruit > a:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 18px;
    background: url(../img/icn_recruit.svg) no-repeat center center/13px 14px;
    width: 13px;
    height: 14px;

}

.btn__contact > a{
    background: $key;
}

.btn__contact > a:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 15px;
    background: url(../img/icn_contact.svg) no-repeat center center/16px 18px;
    width: 16px;
    height: 18px;
}



// ****** burger-btn

.burger-btn{
    display: none;

    @include tab-l{ /* < 1024px */
        display: block;
        width: 70px;
        height: 39px;
        position: relative;
        z-index: 3;
    }
}


.bar{
    width: 40px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.bar_top{
    top: 9px;
    transition: transform .4s;
}
.bar_mid{
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .4s;
}
.bar_bottom{
    bottom: 10px;
    transition: transform .4s;
}
.burger-btn.close .bar_top{
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .4s;
    background-color: #333;
}
.burger-btn.close .bar_mid{
    opacity: 0;
    transition: opacity .4s;
    background-color: #333;
}
.burger-btn.close .bar_bottom{
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .4s;
    background-color: #333;
}
