@charset "UTF-8";
/* 

****** gnav
****** gnav__sub__list
****** gnav__btns
****** burger-btn
****** drawer
****** drawer__sub__list

*/
/* 

*** color
*** 
*** 

*/
/*==================================================

*** color
==================================================*/
/*==================================================

*** 
==================================================*/
/*==================================================

*** 
==================================================*/
/* 

*** media queries
*** font
*** layout

*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

/*==================================================

*** media queries
==================================================*/
/*==================================================

*** font
==================================================*/
* {
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 768px) {
  body {
    /* < 768px */
    font-size: 1.4rem;
  }
}

.oswald {
  font-family: "Oswald", sans-serif;
}

/*==================================================

*** layout
==================================================*/
.sp {
  display: none;
}
@media (max-width: 480px) {
  .sp {
    /* < 480px */
    display: block;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}
@media (max-width: 1024px) {
  .wrap {
    /* < 1024px */
    max-width: 820px;
    width: 90%;
  }
}

.bg-black {
  display: block;
  position: relative;
  width: 100%;
  color: #fff;
  background: #000;
}

h1 {
  font-size: 15rem;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 70px rgba(0, 0, 0, 0.7);
  line-height: 1;
}
@media (max-width: 1024px) {
  h1 {
    /* < 1024px */
    font-size: 12rem;
  }
}
@media (max-width: 768px) {
  h1 {
    /* < 768px */
    font-size: 10rem;
  }
}
@media (max-width: 480px) {
  h1 {
    /* < 480px */
    font-size: 6rem;
  }
}

h2 {
  margin-top: 120px;
  font-size: 7rem;
  font-family: "Oswald", sans-serif;
}
@media (max-width: 768px) {
  h2 {
    /* < 768px */
    margin-top: 10rem;
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  h2 {
    /* < 480px */
    margin-top: 80px;
    font-size: 5rem;
  }
}

h2 + * {
  margin-top: 70px;
  /* ⭐️60pxでもいいのでは？ */
}
@media (max-width: 768px) {
  h2 + * {
    /* < 768px */
    margin-top: 5.8rem;
  }
}
@media (max-width: 480px) {
  h2 + * {
    /* < 480px */
    margin-top: 4.6rem;
  }
}

.h2-jp {
  display: block;
  margin-top: 15px;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .h2-jp {
    /* < 768px */
    margin-top: 10px;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  h3 {
    /* < 768px */
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h3 {
    /* < 480px */
    font-size: 1.8rem;
  }
}

h3 + * {
  margin-top: 34px;
}

header {
  width: 100%;
  z-index: 5;
}

.header {
  position: fixed;
  top: 0;
  right: 0px;
}

.page__title {
  margin-top: 74px;
}
@media (max-width: 768px) {
  .page__title {
    /* < 768px */
    margin-top: 68px;
  }
}
@media (max-width: 480px) {
  .page__title {
    /* < 480px */
    margin-top: 60px;
  }
}

.header-top {
  visibility: hidden;
}

header.fixed {
  visibility: visible;
  left: 0;
  display: block;
  position: fixed;
  top: 0;
  z-index: 5;
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  0% {
    margin-top: -64px;
  }
  100% {
    margin-top: 0;
  }
}
.gnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  background: #111111;
  color: #ffffff;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .gnav {
    /* < 768px */
    height: 68px;
  }
}
@media (max-width: 480px) {
  .gnav {
    /* < 480px */
    height: 60px;
  }
}

.gnav__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  width: 730px;
}
@media (max-width: 1366px) {
  .gnav__nav {
    /* < 1366px */
    width: 50%;
    min-width: 630px;
  }
}
@media (max-width: 1024px) {
  .gnav__nav {
    /* < 1024px */
    display: inline-block;
    width: 70%;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .gnav__nav {
    /* < 768px */
    margin-left: 20px;
  }
}

.gnav__logo {
  display: inline-block;
  margin-right: 60px;
}
@media (max-width: 1366px) {
  .gnav__logo {
    /* < 1366px */
    width: 29%;
    min-width: 210px;
  }
}
@media (max-width: 1024px) {
  .gnav__logo {
    /* < 1024px */
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .gnav__logo {
    /* < 480px */
    width: 43%;
    min-width: 150px;
  }
}

.gnav__logo > img {
  width: 100%;
}

.gnav__nav__inner {
  width: 65%;
}
@media (max-width: 1024px) {
  .gnav__nav__inner {
    /* < 1024px */
    display: none;
  }
}

.gnav__list {
  display: flex;
  justify-content: space-between;
}

.gnav__list__item {
  position: relative;
  padding: 23px 0;
}

.gnav__list__link {
  position: relative;
}

.gnav__list__link:after {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  height: 2px;
  width: 100%;
}

.gnav__list__link:hover:after {
  transform: scaleX(1);
}

#sub-list {
  transition: 0.2;
}

.gnav__sub__list {
  visibility: hidden;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: -30px;
  padding: 15px 0;
  width: 300px;
  background: #111;
  transition: opacity 0.2, visibility 0.2;
}

.gnav__sub__list.open {
  visibility: visible;
  opacity: 1;
}

.gnav__sub__item {
  padding: 6px 30px;
}

.gnav__sub__link:hover {
  opacity: 0.9;
}

.gnav__btns {
  display: flex;
}
@media (max-width: 768px) {
  .gnav__btns {
    /* < 768px */
    margin-left: auto;
  }
}

.btn__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 13px 0 16px;
  height: 74px;
}
@media (max-width: 768px) {
  .btn__link {
    /* < 768px */
    height: 68px;
  }
}
@media (max-width: 480px) {
  .btn__link {
    /* < 480px */
    height: 60px;
  }
}

.btn__recruit {
  width: 113px;
}
@media (max-width: 768px) {
  .btn__recruit {
    /* < 768px */
    display: none;
  }
}

.btn__recruit .btn__link {
  width: 113px;
  background: #3b3b3b;
  transition: 0.2s;
}

.btn__recruit .btn__link:hover {
  background: #484848;
}

.btn__recruit__img {
  width: 14px;
}

.btn__recruit__text {
  margin-left: 6px;
  margin-bottom: 2px;
}

@media (max-width: 480px) {
  .btn__contact {
    /* < 480px */
  }
}

.btn__contact .btn__link {
  width: 143px;
  background: #2100ad;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .btn__contact .btn__link {
    /* < 768px */
    display: flex;
    justify-content: center;
    padding: 0;
    width: 60px;
  }
}
@media (max-width: 480px) {
  .btn__contact .btn__link {
    /* < 480px */
    width: 40px;
    background: #111;
  }
}

.btn__contact .btn__link:hover {
  background: #2500cd;
}

.btn__contact__img {
  width: 16px;
}
@media (max-width: 480px) {
  .btn__contact__img {
    /* < 480px */
    width: 18px;
  }
}

.btn__contact__text {
  margin-left: 6px;
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  .btn__contact__text {
    /* < 768px */
    display: none;
  }
}

.burger-btn {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #111;
  cursor: pointer;
  border: 0;
}
@media (max-width: 1024px) {
  .burger-btn {
    /* < 1024px */
    display: block;
    width: 70px;
    height: 39px;
    position: relative;
    z-index: 3;
  }
}

.bar {
  width: 34px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.bar_top {
  top: 9px;
  transition: transform 0.4s;
}

.bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s;
}

.bar_bottom {
  bottom: 10px;
  transition: transform 0.4s;
}

.burger-btn.close .bar_top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform 0.4s;
  background-color: #fff;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  transition: opacity 0.4s;
  background-color: #fff;
}

.burger-btn.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.4s;
  background-color: #fff;
}

.burger-btn.close {
  background-color: transparent;
}

.drawer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: url(../img/nav-bg.jpg) no-repeat center center/cover;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 5;
}
@media (max-width: 480px) {
  .drawer {
    /* < 480px */
    background: url(../img/sp-nav-bg.jpg) no-repeat center center/cover;
  }
}

.drawer.open {
  visibility: visible;
  z-index: 2;
  opacity: 1;
}

.drawer__inner {
  position: relative;
  margin-left: 10%;
}
@media (max-width: 768px) {
  .drawer__inner {
    /* < 768px */
    margin-left: 5%;
  }
}
@media (max-width: 480px) {
  .drawer__inner {
    /* < 480px */
    position: static;
    width: 90%;
    height: 95vh;
  }
}

.drawer__list__wrapper {
  display: flex;
}
@media (max-width: 480px) {
  .drawer__list__wrapper {
    /* < 480px */
    display: block;
  }
}

.drawer__list:last-of-type {
  margin-left: 80px;
}
@media (max-width: 768px) {
  .drawer__list:last-of-type {
    /* < 768px */
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .drawer__list:last-of-type {
    /* < 480px */
    margin-left: 0;
  }
}

.drawer__list__item {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .drawer__list__item {
    /* < 768px */
    margin-top: 42px;
  }
}
@media (max-width: 480px) {
  .drawer__list__item {
    /* < 480px */
    margin-top: 25px;
  }
}

.drawer__list__item:nth-of-type(n+4) {
  margin-left: 80px;
}
@media (max-width: 768px) {
  .drawer__list__item:nth-of-type(n+4) {
    /* < 768px */
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .drawer__list__item:nth-of-type(n+4) {
    /* < 480px */
    margin-left: 0;
  }
}

.drawer__list__item > a {
  font-size: 5rem;
}
@media (max-width: 768px) {
  .drawer__list__item > a {
    /* < 768px */
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .drawer__list__item > a {
    /* < 480px */
    font-size: 3rem;
  }
}

.li-jp {
  display: block;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .li-jp {
    /* < 768px */
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .li-jp {
    /* < 480px */
    margin-top: 2px;
    line-height: 1;
    font-size: 1.3rem;
  }
}

.drawer__btn {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto 0 0 70px;
  width: 190px;
}
@media (max-width: 768px) {
  .drawer__btn {
    /* < 768px */
    margin-left: 30px;
    width: 150px;
  }
}
@media (max-width: 480px) {
  .drawer__btn {
    /* < 480px */
    display: flex;
    justify-content: space-between;
    right: auto;
    margin-left: 0;
    margin-bottom: 4vh;
    width: 90%;
    text-align: center;
  }
}

.drawer__recruit {
  background: #3b3b3b;
}
@media (max-width: 768px) {
  .drawer__recruit {
    /* < 768px */
  }
}
@media (max-width: 480px) {
  .drawer__recruit {
    /* < 480px */
    width: 49%;
  }
}

.drawer__contact {
  margin-top: 20px;
  background: #2100ad;
}
@media (max-width: 480px) {
  .drawer__contact {
    /* < 480px */
    margin-top: 0;
    width: 49%;
  }
}

.drawer__recruit__text, .drawer__contact__text {
  display: inline-block;
  padding: 18px 0 18px 20px;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 0.05em;
  z-index: 1;
}
@media (max-width: 768px) {
  .drawer__recruit__text, .drawer__contact__text {
    /* < 768px */
    padding: 15px 0 15px 16px;
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .drawer__recruit__text, .drawer__contact__text {
    /* < 480px */
    padding: 15px 0;
    font-size: 2.2rem;
  }
}

.drawer__btn-jp {
  display: block;
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 1;
}
@media (max-width: 768px) {
  .drawer__btn-jp {
    /* < 768px */
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .drawer__btn-jp {
    /* < 480px */
    margin-top: 2px;
    font-size: 1.2rem;
  }
}

.drawer__sub__list {
  margin-top: 22px;
}
@media (max-width: 768px) {
  .drawer__sub__list {
    /* < 768px */
    margin-top: 18px;
  }
}
@media (max-width: 480px) {
  .drawer__sub__list {
    /* < 480px */
    display: none;
  }
}

@media (max-width: 480px) {
  .drawer__sub__list.open {
    /* < 480px */
    display: block;
  }
}

.drawer__sub__item {
  position: relative;
  margin-top: 12px;
  padding-left: 17px;
}

.drawer__sub__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 2px;
  background: #fff;
}