
/* 

*** btn
*** 
*** 
*** 
*** 

*/




/*==================================================

*** btn
==================================================*/

.btn{
    margin-top: 40px;

    @include tab-s{ /* < 768px */
        margin-top: 34px;
    }
    // @include sp{ /* < 480px */
    // }
}

.btn > a{
    position: relative;
    display: inline-block;
    padding: 18px 0;
    width: 250px;
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    background: $key;
}

.btn-w > a{
    position: relative;
    display: inline-block;
    padding: 18px 0;
    width: 210px;
    text-align: center;
    color: $key;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    border: 2px solid $key;
    background: transparent;

    @include tab-l{ /* < 1024px */
        width: 250px;
    }
    // @include tab-s{ /* < 768px */
    // }
    // @include sp{ /* < 480px */
    // }
}

.btn-g > a{
    // position: relative;
    display: inline-block;
    padding: 18px 78px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    background: $gray;

    @include tab-l{ /* < 1024px */
        padding: 18px 60px;
    }
}

.btn > a:after/* , .btn-g > a:after */{
    content: "";
    display: block;
    position: absolute;
    top: 45%;
    right: 5%;
    width: 26px;
    height: 6px;
    background: url(../img/3px-arrow-white.svg) no-repeat left center/26px 6px;

    // @include tab-s{ /* < 768px */
    //     right: 10%;
    // }
    // @include sp{ /* < 480px */
    //     right: 5%;
    // }
}

.btn-w > a:after{
    content: "";
    display: block;
    position: absolute;
    top: 45%;
    right: 16px;
    width: 26px;
    height: 6px;
    background: url(../img/arrow-blue.svg) no-repeat left center/26px 6px;
}

.btn:hover{
    
}



/*==================================================

*** flex-wrapper
==================================================*/

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tab-s{ /* < 768px */
        justify-content: center;
    }
}

.flex-content{
    width: 31%;

    @include tab-s{ /* < 768px */
        width: 48%;
    }
    @include sp{ /* < 480px */
        width: 100%;
    }
}

.flex-content:nth-of-type(odd):not(:last-of-type){
    @include tab-s{ /* < 768px */
        margin-right: 4%;
    }
    @include sp{ /* < 480px */
        margin-right: 0;
    }
}

.flex-content:last-of-type{
    @include tab-s{ /* < 768px */
        margin-top: 6%;
    }
    @include sp{ /* < 480px */
        margin-top: 0;
    }
}

.flex-content:not(:first-of-type){
    @include sp{ /* < 480px */
        margin-top: 35px;
    }
}

.flex-content__img{

}

.flex-content__img > img{
    width: 100%;
}



/*==================================================

*** 
==================================================*/





/*==================================================

*** 
==================================================*/





/*==================================================

*** 
==================================================*/