/* 

*** advantage__title
*** advantage__head
*** service__nav → module.scss

*/

@import "1-initialize";
@import "1-variable";
@import "2-common";
@import "3-header";
@import "3-footer";
@import "3-module";



/*==================================================

*** advantage__title
==================================================*/

.advantage__title{
    background: url(../img/advantage-title.jpg) no-repeat center center / cover;

    @include tab-s{ /* < 768px */
        background: url(../img/tab-advantage-title.jpg) no-repeat center center / cover;
    }
    @include sp{ /* < 480px */
        background: url(../img/sp-advantage-title.jpg) no-repeat center center / cover;
    }
}



/*==================================================

*** service__head
==================================================*/

.advantage__head{
    padding: 120px 0 200px;

    @include tab-s{ /* < 768px */
        padding: 100px 0 200px;
    }
    @include sp{ /* < 480px */
        padding: 80px 0 150px;
    }
}

.advantage__head > .wrap{
    @include sp{ /* < 480px */
        max-width: 100%;
        width: 100%;
    }
}

.content{
    position: relative;
    // padding-top: 417px;
}

.content:not(:first-of-type){
    margin-top: 132px;
}

.content__detail{
    width: 50%;
}

#advantage .content__detail__inner-left{
    padding: 40px 38px 40px 34px;
    background: rgb(4, 4, 4);

    // @include tab-s{ /* < 768px */
        padding: 40px 20px 40px 34px;
    // }
    // @include sp{ /* < 480px */
    //     padding: 40px 20px 40px 20px;
    // }
}

.content__number-1::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -44px;
    width: 90px;
    height: 330px;
    color: $key;
    background: url(../img/advantage-text-1.svg) no-repeat;

    @include tab-s{ /* < 768px */
        top: 174px;
        left: -45px;
    }
    @include sp{ /* < 480px */
        left: 220px;
    }
}

.content__number-2::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -75px;
    width: 105px;
    height: 338px;
    color: $key;
    filter: drop-shadow(-3px 7px 20px rgba(0,0,0,0.6));
    background: url(../img/advantage-text-2.svg) no-repeat;

    @include tab-s{ /* < 768px */
        top: 194px;
    }
    @include sp{ /* < 480px */
        top: 194px;
    }
}

.content__number-3::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -60px;
    width: 104px;
    height: 300px;
    color: $key;
    background: url(../img/advantage-text-3.svg) no-repeat;

    @include tab-s{ /* < 768px */
        top: 174px;
        left: -62px;
    }
    @include sp{ /* < 480px */
        left: 210px;
    }
}

.content__title{
    font-family: YakuHanJP,'Noto Sans JP', sans-serif;
}

.content__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 270px;
    background: url(../img/service-content-img.jpg) no-repeat center center / cover;

    @include tab-s{ /* < 768px */
        width: 80%;
        height: 250px;
    }
    @include sp{ /* < 480px */
        width: 90%;
    }
}

.content__img-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 270px;
    background: url(../img/service-content-img-2.jpg) no-repeat center center / cover;

    @include tab-s{ /* < 768px */
        width: 80%;
        height: 250px;
    }
    @include sp{ /* < 480px */
        width: 90%;
    }
}



