/* 

*** case__title
*** cat__nav → module.scss
*** case__list

*/

@import "1-initialize";
@import "1-variable";
@import "2-common";
@import "3-header";
@import "3-footer";
@import "3-module";



body{
    /* background: url(../img/shitae.png)no-repeat center top/contain; */
}



/*==================================================

*** case__title
==================================================*/

.case__title{
    background: url(../img/case-title.jpg) no-repeat center center / cover;

    @include tab-s{ /* < 768px */
        background: url(../img/tab-case-title.jpg) no-repeat center center / cover;
    }
    @include sp{ /* < 480px */
        background: url(../img/sp-case-title.jpg) no-repeat center center / cover;
    }
}



/*==================================================

*** case__list
==================================================*/

.case__list{
    // display: flex;
    // flex-wrap: wrap;
    margin-top: 120px;
  
    @include tab-s{ /* < 768px */
      margin-top: 100px;
    }
    @include sp{ /* < 480px */
      margin-top: 80px;
    }
}

#case .flex-wrapper::after{
    content:"";
    display:block;
    width: 31%;
    // height: 0;

    @include tab-s{ /* < 768px */
        width: 52%;
    }
    @include sp{ /* < 480px */
        display: none;
    }
}

#case .flex-content:nth-child(n+4){
        margin-top: 40px;
} 

.case__h3{
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1;

    @include tab-s{ /* < 768px */
        margin-top: 15px;
    }
    // @include sp{ /* < 480px */
    // }
}

.case__category__wrapper{
    display: flex;
    margin-top: 10px;
}

.case__category-1{
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px;
    vertical-align: center;
    font-size: 1.2rem;
    background: $gray-light;
}

.case__category-2{
    font-size: 1.2rem;
}



/*==================================================


==================================================*/

/* ******  ****** */



/* ******  ****** */



/* ******  ****** */









