/* 

*** case__title
*** case__nav
*** case__list
*** footer

*/

@import "1-initialize";
@import "1-variable";
@import "2-common";
@import "3-header";
@import "3-footer";
@import "3-module";



body{
    /* background: url(../img/shitae.png)no-repeat center top/contain; */
}



/*==================================================

*** case__title
==================================================*/

.case__title{
    background: url(../img/case-title.jpg) no-repeat center center / cover;

    @include tab-s{ /* < 768px */
        background: url(../img/tab-case-title.jpg) no-repeat center center / cover;
    }
    @include sp{ /* < 480px */
        background: url(../img/sp-case-title.jpg) no-repeat center center / cover;
    }
}



/*==================================================

*** case__nav
==================================================*/

.case__nav{
    padding: 50px 0;
    background: #f7f7f7;

    @include tab-s{ /* < 768px */
        padding: 40px 0;
    }
    @include sp{ /* < 480px */
        padding: 30px 0;
    }
}

.case__nav__inner{
    margin: 0 auto;
    width: 75%;
    
    @include tab-s{ /* < 768px */
        width: 85%;
    }
    @include sp{ /* < 480px */
        width: 90%;
    }
}

.case__nav__h3{
    font-size: 1.8rem;
    color: $key;
}

.case__nav__h3:last-of-type{
    margin-top: 25px;

    @include tab-s{ /* < 768px */
        margin-top: 20px;
    }
    // @include sp{ /* < 480px */
    // }
}

.case__nav__h3-jp{
    position: relative;
    display: inline-block;
    padding-left: 16px;
    font-size: 1.4rem;
    font-weight: normal;
}

.case__nav__h3-jp-1::before{
    content:"";
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 90px;
    width: 5px;
    height: 2px;
    background: $key;
}

.case__nav__h3-jp-2::before{
    content:"";
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 77px;
    width: 5px;
    height: 2px;
    background: $key;
}

.case__nav__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.case__nav__item{
    position: relative;
    margin: 10px 30px 0;
}

.case__nav__item:not(:last-of-type)::after{
    content:"ï¼";
    display: inline-block;
    position: absolute;
    top: 0;
    right: -40px;
    width: 20px;
    height: 20px;
}

.case__nav__item{
    margin-left: 30px;
}
// .case__nav__item:not(:first-of-type){
//     margin-left: 30px;
// }

.case__nav__item > a{

}






/*==================================================

*** case__list
==================================================*/

.case__list{
    // display: flex;
    // flex-wrap: wrap;
    margin-top: 120px;
  
    @include tab-s{ /* < 768px */
      margin-top: 100px;
    }
    @include sp{ /* < 480px */
      margin-top: 80px;
    }
}

#case .flex-wrapper::after{
    content:"";
    display:block;
    width: 31%;
    // height: 0;

    @include tab-s{ /* < 768px */
        width: 52%;
    }
    @include sp{ /* < 480px */
        display: none;
    }
}

#case .flex-content:nth-child(n+4){
        margin-top: 40px;
} 

.case__h3{
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1;

    @include tab-s{ /* < 768px */
        margin-top: 15px;
    }
    // @include sp{ /* < 480px */
    // }
}

.case__category__wrapper{
    display: flex;
    margin-top: 10px;
}

.case__category-1{
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px;
    vertical-align: center;
    font-size: 1.2rem;
    background: $category;
}

.case__category-2{
    font-size: 1.2rem;
}





/*==================================================


==================================================*/

/* ******  ****** */



/* ******  ****** */



/* ******  ****** */





/*==================================================


==================================================*/

/* ******  ****** */



/* ******  ****** */



/* ******  ****** */





/*==================================================

footer
==================================================*/

/* ******  ****** */



/* ******  ****** */



/* ******  ****** */




