/* 

*** mv
*** top-bg
*** advantage
*** service
*** case
*** recruit
*** news
*** contact

*/

@import "1-initialize";
@import "1-variable";
@import "2-common";
@import "3-header";
@import "3-footer";
@import "3-module";



// ****** mv

.mv{
    width: 100%;
    height: 700px;
    background: url(../img/mv.jpg) no-repeat center center / cover;
}

.mv__inner{
    padding: 240px 0 0 150px;

    @include tab-l{ /* < 1024px */
        padding: 240px 0 0 100px;    
    }
    @include tab-s{ /* < 768px */
        margin: 0 auto;
        padding-left: 0;
        width: 428px;
    }
    @include sp{ /* < 480px */
        margin: 0 auto;
        width: 260px;
    }
}

.mv__inner__text{
    margin-top: 2rem;
    font-family: serif;
    font-size: 3.2rem;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

    @include tab-l{ /* < 1024px */
        margin-top: 15px;    
    }
    @include tab-s{ /* < 768px */
        margin-top: 10px;
        font-size: 2.8rem;
    }
    @include sp{ /* < 480px */
        margin-top: 10px;
        font-size: 2.4rem;
    }
}



/*==================================================

*** top-bg
==================================================*/

.top-bg:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 300px;
    height: 2420px;
    background: #121212;
    z-index: -1;
}

.top-bg:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 450px;
    background: #121212;
    z-index: -1;
}




/*==================================================

*** advantage
==================================================*/

.advantage{
    position: relative;
    color: #000;
}

.advantage:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/top-intro.jpg);
    width: 62%;
    height: 655px;
}

.advantage__box{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    width: 50%;
    min-width: 600px;
    background: rgba(255,255,255,0.9);
    z-index: 2;
}

.advantage__box__inner{

}

.advantage__h2{
    margin-top: 0;
}

.advantage__h3{
    margin-top: 30px;
    font-weight: bold;
}

.advantage__text{
    margin-top: 20px;
    width: 450px;
}

.advantage__btn{
    margin-top: 50px;
}

.advantage__btn > a{

}




/*==================================================

*** service
==================================================*/

.service{
    padding-bottom: 140px;
}

.service__h2{
    text-align: center;
}


// ****** service-main

.service-main__list{

}

.service-main__list__item{
    display: flex;
    align-items: center;

    @include tab-s{ /* < 768px */
        display: block;
    }
    @include sp{ /* < 480px */
    }
}

.service-main__list__item:not(:first-of-type){
    margin-top: 80px;
}

.service-main__img{
    margin-right: 80px;

    @include tab-l{ /* < 1024px */
        margin-right: 60px;
        width: 330px;
    }
    @include tab-s{ /* < 768px */
        width: 100%;
    }
    // @include sp{ /* < 480px */
    // }
}

.service-main__img > img{
    @include tab-l{ /* < 1024px */
        width: 330px;
    }
    @include tab-s{ /* < 768px */
        width: 100%;
    }
    // @include sp{ /* < 480px */
    // }
}

.tab-height-600{
    @include tab-l{ /* < 1024px */
        margin-right: 60px;
        height: 600px;
    }
    @include tab-s{ /* < 768px */
        height: 250px;
    }
    // @include sp{ /* < 480px */
    // }
}

.tab-height-600 > img{
    @include tab-l{ /* < 1024px */
        height: 600px;
        object-fit: cover;
    }
    @include tab-s{ /* < 768px */
        height: 250px;
    }
    // @include sp{ /* < 480px */
    // }
}

.tab-height-380{
    @include tab-l{ /* < 1024px */
        margin-right: 60px;
        height: 380px;
    }
    @include tab-s{ /* < 768px */
        height: 250px;
    }
}

.tab-height-380 > img{
    @include tab-l{ /* < 1024px */
        height: 380px;
        object-fit: cover;
    }
    @include tab-s{ /* < 768px */
        height: 250px;
    }
}

.service-main__detail{

}

.service-main__h3{
    font-weight: bold;
    line-height: 1.5;
}

.service-main__text{
    margin-top: 30px;
}

.service-main__icons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include tab-l{ /* < 1024px */
        display: block;
    }
    // @include tab-s{ /* < 768px */
    // }
    // @include sp{ /* < 480px */
    // }
}

.service-main__icons__inner{
    display: flex;
    width: 50%;

    @include tab-l{ /* < 1024px */
        margin: 0 auto;
        width: 85%;
        min-width: 222px;
    }
}

.service-main__icons__inner:last-of-type{
    @include tab-l{ /* < 1024px */
        margin-top: 30px;
    }
}

.service-main__icons__img{
    width: 70%;
    text-align: center;
}

.service-main__icons__img > img{
    display: inline-block;
    margin: 0 auto;
    width: 48px;
    height: 55px;
}

.caption{
    margin-top: 8px;
    font-size: 1.2rem;
}

.service__btn >  a{
    @include tab-l{ /* < 1024px */
        padding: 18px 63px;
    }
    // @include tab-s{ /* < 768px */
    // }
    // @include sp{ /* < 480px */
    // }
}

.service__btn> a{

}


// service-sub

.service-sub__list{
    margin-top: 140px;
    color: #000000;
}

.service-sub__item{
    position: relative;
}

.service-sub__link{
    // position: relative;
}

.service-sub__img{
    height: 260px;
}

.service-sub__img > img{
    height: 100%;
    object-fit: cover;
}

.service-sub__detail{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background: rgba(255,255,255,0.9);
}

.service-sub__detail__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.service-sub__h3{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
}

.service-sub__h3 > span{
    display: block;
    margin-top: 3px;
    font-size: 1.2rem;
}

.service-sub__btn{

}

.service-sub__btn > a{
    color: $key;
    border-bottom: 2px solid $key;
}




/*==================================================

*** case
==================================================*/

.case{

}
.case__h2{
    text-align: center;
}

.case__list{

}

.case__list__item{

}

.case__list__item > a{

}

.case__list__img{

}

.case__list__img > img{

}

.case__detail{

}

.case__h3{
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1;
}

.case__category__wrapper{
    display: flex;
    margin-top: 10px;
}

.case__category-1{
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px;
    vertical-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    background: $category-1;
}

.case__category-2{
    font-size: 1.2rem;
}

.case__btn{
    margin-top: 60px;
    text-align: center;
}




/*==================================================

*** recruit
==================================================*/

.recruit{
    position: relative;
    margin-top: 120px;
    padding: 80px 0;
    text-align: center;
    // height: ;
}

.recruit:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    // height: ;
    background: url(../img/top-recruit-1.jpg) no-repeat center center / cover;
}

.recruit:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    // height: ;
    background: url(../img/top-recruit-2.jpg) no-repeat center center / cover;
}

.recruit__inner{
    display: inline-block;
    position: relative;
    padding: 60px 40px;
    background: rgba(255,255,255,0.9);
    z-index: 1;
}

.recruit_h2{
    margin-top: 0;
}

.h2-en{
    display: inline-block;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 3px solid #000;
}

.recruit_h2 > .h2-jp{
    margin-top: 3px;
}

.recruit__text{
    margin: 30px auto 0;
    max-width: 512px;
}



/*==================================================

*** news

==================================================*/

.news{
    margin-top: 120px;
    @include tab-s{ /* < 768px */
        margin-top: 10rem;
    }
    @include sp{ /* < 480px */
    margin-top: 80px;
    }
}

.news > .wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.news__h2{
    margin-top: 0;
}

.news__list{
    margin: 0;
    width: 67%;
}

.news__list__item{
    padding: 24px 20px;
    border-bottom: 1px solid #e3e3e3;
}

.news__list__item:first-of-type{
    border-top: 1px solid #e3e3e3;
}

.news__list__link{
    display: flex;
    justify-content: space-between;
}

.news__list__left{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 30%;
    min-width: 210px;
}

.news__category{
    width: 120px;
    height: 28px;
    text-align: center;
    // color: #fff;
    font-size: 1.3rem;
    background: $category-2;
}

.news__list__right{
    width: 64%;
}

.news__list__text{

}

.news__btn{
    position: absolute;
    top: 165px;
}