/* 

*** mv
*** bg-black
*** advantage
*** service
*** case
*** recruit
*** news
*** contact

*/

@import "1-initialize";
@import "1-variable";
@import "2-common";
@import "3-header";
@import "3-footer";
@import "3-module";



/*==================================================

*** mv
==================================================*/

.mv{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/mv.jpg) no-repeat center center / cover;

    @include tab-l{ /* < 1024px */
        background: url(../img/tab-mv.jpg) no-repeat center center / cover;
    }
    @include tab-s{ /* < 768px */
        display: flex;
        justify-content: center;
        background: url(../img/sp-mv.jpg) no-repeat center center / cover;
    }
    // @include sp{ /* < 480px */
    // }
}

.mv__inner{
    position: absolute;
    top: 35%;
    left:20%;
    // padding: 30% 0 0 15%;

    @include tab-l{ /* < 1024px */
        // padding: 240px 0 0 100px;    
    }
    @include tab-s{ /* < 768px */
        top: 40%;
        left: auto;
        // padding: 260px 0 0 0;
    }
    @include sp{ /* < 480px */
        // padding: 280px 0 0 0;
    }
}

.mv__inner__text{
    margin-top: 20px;
    font-family: serif;
    font-size: 3.2rem;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

    @include tab-l{ /* < 1024px */
        margin-top: 16px;
        font-size: 2.8rem;
    }
    @include tab-s{ /* < 768px */
        margin-top: 12px;
        font-size: 2.4rem;
    }
    @include sp{ /* < 480px */
        margin-top: 6px;
        font-size: 2rem;
    }
}



/*==================================================

*** bg-black
==================================================*/

.bg-black{
    width: 100%;
}

#top .bg-black:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 22%;
    height: 83%;
    background: #121212;
    z-index: 1;

    @include tab-s{ /* < 768px */
        height: 79%;
    }
    @include sp{ /* < 480px */
        height: 74%;
    }
}

#top .bg-black:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22%;
    height: 16%;
    background: #121212;
    z-index: 1;

    @include tab-s{ /* < 768px */
        height: 20.5%;
    }
    @include sp{ /* < 480px */
        height: 25%;
    }
}




/*==================================================

*** advantage
==================================================*/

.advantage{
    position: relative;
    color: #000;
}

.advantage:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/top-intro.jpg) no-repeat center center;
    width: 62%;
    height: 655px;

    @include tab-l{ /* < 1024px */
        top: 50px;
        width: 45%;
        height: 730px;
    }
    @include tab-s{ /* < 768px */
        top: 515px;
        width: 85%;
        height: 300px;
        background-position: center bottom;
        z-index: 2;
    }
    @include sp{ /* < 480px */
        top: 95%;
    }
}

.advantage__box{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    width: 50%;
    min-width: 600px;
    background: rgba(255,255,255,0.9);
    z-index: 3;

    @include tab-l{ /* < 1024px */
        padding: 80px 0;
        width: 68%;
        max-width: 600px;
        min-width: auto;
    }
    @include tab-s{ /* < 768px */
        padding: 70px 0;
        max-width: 522px;
        width: 90%;
    }
    @include sp{ /* < 480px */
        padding: 60px 0;
    }
}

.advantage__box__inner{
    width: 455px;

    @include tab-l{ /* < 1024px */
        width: 76%;
    }
    // @include tab-s{ /* < 768px */
    // }
    // @include sp{ /* < 480px */
    // }
}

.advantage__h2{
    margin-top: 0;
}

.advantage__h3{
    margin-top: 30px;
    font-weight: bold;

    @include tab-l{ /* < 1024px */
        margin-top: 25px;
    }
    @include tab-s{ /* < 768px */
        margin-top: 20px;
    }
    // @include sp{ /* < 480px */
    // }
}

.advantage__text{
    margin-top: 20px;

    @include tab-s{ /* < 768px */
        margin-top: 15px;
    }
}

.advantage__btn{
    margin-top: 50px;

    @include tab-l{ /* < 1024px */
        margin-top: 40px;
    }
    @include tab-s{ /* < 768px */
        margin-top: 35px;
    }
}

.advantage__btn > a{
    @include sp{ /* < 480px */
        width: 100%;
        max-width: 251px;
    }
}




/*==================================================

*** service
==================================================*/

.service{
    position: relative;
    padding-bottom: 140px;
    z-index: 2;

    @include tab-s{ /* < 768px */
        padding-bottom: 120px;
    }
    @include sp{ /* < 480px */
        padding-bottom: 100px;
    }
}

.service__h2{
    text-align: center;

    @include tab-l{ /* < 1024px */
        margin-top: 186px;
    }
    @include tab-s{ /* < 768px */
        margin-top: 330px;
    }
    // @include sp{ /* < 480px */
    // }
}


// ****** service-main

.service-main__list{

}

.service-main__list__item{
    display: flex;
    align-items: center;

    @include tab-s{ /* < 768px */
        display: block;
    }
    // @include sp{ /* < 480px */
    // }
}

.service-main__list__item:not(:first-of-type){
    margin-top: 80px;
}

.service-main__img{
    margin-right: 80px;
    width: 34%;

    @include tab-l{ /* < 1024px */
        margin-right: 60px;
        // width: 330px;
    }
    @include tab-s{ /* < 768px */
        left: -5.5%; /* ⭐️小数点OK？ */
        width: 100%;
    }
}

.service-main__img-1{
    background: url(../img/service-main-1.jpg) no-repeat right center / cover;
}

.service-main__img-2{
    background: url(../img/service-main-2.jpg) no-repeat right center / cover;
}

.service-main__img-3{
    background: url(../img/service-main-3.jpg) no-repeat right center / cover;
}

.service-main__img-large{
    height: 442px;/* ⭐️padding-top との違い */

    @include tab-s{ /* < 768px */
        height: 250px;
    }
}

.service-main__img-small{
    height: 332px;/* ⭐️padding-top との違い */

    @include tab-s{ /* < 768px */
        height: 250px;
    }
}

.service-main__detail{
    width: 49%;

    @include tab-s{ /* < 768px */
        margin: 30px auto;
        width: 85%;
    }
    // @include sp{ /* < 480px */
    // }
}

.service-main__h3{
    font-weight: bold;
    line-height: 1.5;

    @include tab-s{ /* < 768px */
        text-align: center;
    }
    // @include sp{ /* < 480px */
    // }
}

.service-main__text{
    margin-top: 30px;

    @include tab-s{ /* < 768px */
        margin-top: 20px;
    }
    // @include sp{ /* < 480px */
    // }
}

.service-main__icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    // @include tab-s{ /* < 768px */
    // }
    @include sp{ /* < 480px */
        display: block;
        margin: 30px auto;
        width: 80%;
    }
}

.service-main__icons__inner{
    display: flex;
    justify-content: space-between;
    width: 50%;

    @include sp{ /* < 480px */
        width: auto;
    }
}

.service-main__icons__inner:nth-of-type(2){
    @include sp{ /* < 480px */
        margin-top: 25px;
    }
}

.service-main__icons__img{
    width: 50%;
    min-width: 84px;
    text-align: center;
}

.service-main__icons__img > img{
    display: inline-block;
    margin: 0 auto;
    width: 48px;
    height: 55px;
}

.caption{
    margin-top: 8px;
    font-size: 1.2rem;
}

.service__btn{
    @include tab-s{ /* < 768px */
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
    @include sp{ /* < 480px */
        width: 100%;
    }
}

.service__btn > a{
    @include tab-s{ /* < 768px */
        text-align: center;
        width: 100%;
    }
    // @include sp{ /* < 480px */
    // }
}

.service__btn > a{

}


// service-sub

.service-sub__list{
    margin-top: 140px;
    color: #000000;

    // @include pc{ /* < 1366px */
    // }
    // @include tab-l{ /* < 1024px */
    // }
    @include tab-s{ /* < 768px */
        margin-top: 120px;
    }
    @include sp{ /* < 480px */
        margin-top: 100px;
    }
}

.service-sub__item{
    position: relative;
}

.service-sub__link{
    // position: relative;
}

.service-sub__img{
    height: 260px;
}

.service-sub__img > img{
    height: 100%;
    object-fit: cover;
}

.service-sub__detail{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background: rgba(255,255,255,0.9);
}

.service-sub__detail__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.service-sub__h3{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
}

.service-sub__h3 > span{
    display: block;
    margin-top: 3px;
    font-size: 1.2rem;
}

.service-sub__btn{
    
}

.service-sub__btn > a{
    color: $key;
    border-bottom: 2px solid $key;
}




/*==================================================

*** case
==================================================*/

.case{

}
.case__h2{
    text-align: center;
}

.case__list{

}

.case__list__item{

}

.case__list__item > a{

}

.case__list__img{

}

.case__list__img > img{

}

.case__detail{

}

.case__h3{
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1;

    @include tab-s{ /* < 768px */
        margin-top: 15px;
    }
    // @include sp{ /* < 480px */
    // }
}

.case__category__wrapper{
    display: flex;
    margin-top: 10px;
}

.case__category-1{
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px;
    vertical-align: center;
    font-size: 1.2rem;
    background: $category;
}

.case__category-2{
    font-size: 1.2rem;
}

.case__btn{
    margin-top: 54px;
    text-align: center;

    @include tab-s{ /* < 768px */
        margin-top: 45px;
    }
    @include sp{ /* < 480px */
        // margin-top: 36px;
    }
}

.case__btn > a{
    @include tab-s{ /* < 768px */
        width: 60%;
    }
    @include sp{ /* < 480px */
        width: 100%;
    }
}




/*==================================================

*** recruit
==================================================*/

.recruit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    // padding: 80px 0;
    text-align: center;
    height: 630px;

    @include tab-s{ /* < 768px */
        margin-top: 100px;
    }
    @include sp{ /* < 480px */
        margin-top: 80px;
    }
}

.recruit:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    // height: ;
    background: url(../img/top-recruit-1.jpg) no-repeat right 40% center / cover;
}

.recruit:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../img/top-recruit-2.jpg) no-repeat center center / cover;

}

.recruit__inner{
    display: inline-block;
    position: relative;
    padding: 60px 40px;
    width: 590px;
    background: rgba(255,255,255,0.9);
    z-index: 1;

    @include tab-l{ /* < 1024px */
        width: 57.6%;
        min-width: 340px;
    }
    @include tab-s{ /* < 768px */
        padding: 40px 27px;
    }
    @include sp{ /* < 480px */
        width: 70%;
        min-width: 250px;
    }
}

.recruit_h2{
    margin-top: 0;
}

.h2-en{
    display: inline-block;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 3px solid #000;
}

.recruit_h2 > .h2-jp{
    margin-top: 3px;
}

.recruit__text{
    margin: 30px auto 0;
   
    @include tab-s{ /* < 768px */
        margin: 25px auto 0;
    }
    // @include sp{ /* < 480px */
    // }
}

.recruit__btn{

}

.recruit__btn > a{
    @include sp{ /* < 480px */
        width: 100%
    }
}


/*==================================================

*** news
==================================================*/

.news{
    margin-top: 120px;
    @include tab-s{ /* < 768px */
        margin-top: 10rem;
    }
    @include sp{ /* < 480px */
    margin-top: 80px;
    }
}

.news > .wrap{
    position: relative;
    display: flex;
    justify-content: space-between;

    @include tab-l{ /* < 1024px */
        display: block;
    }
    // @include tab-s{ /* < 768px */
    //     display: block;
    // }
    // @include sp{ /* < 480px */
    // }
}

.news__h2{
    margin-top: 0;

    @include tab-l{ /* < 1024px */
        text-align: center;
    }
    // @include tab-s{ /* < 768px */
    // }
    // @include sp{ /* < 480px */
    // }
}

.news__list{
    margin: 0;
    width: 67%;

    @include tab-l{ /* < 1024px */
        margin-top: 60px;
        width: 100%;
    }
    // @include tab-s{ /* < 768px */
    // }
    @include sp{ /* < 480px */
        margin-top: 4.6rem;
    }
}

.news__list__item{
    padding: 24px 20px;
    border-bottom: 1px solid #e3e3e3;
}

.news__list__item:first-of-type{
    border-top: 1px solid #e3e3e3;
}

.news__list__link{
    display: flex;
    justify-content: space-between;

    @include tab-s{ /* < 768px */
        display: block;
        // width: 20%;
        // min-width: auto;
    }
    // @include sp{ /* < 480px */
    // }
}

.news__list__left{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 30%;
    min-width: 200px;

    @include tab-s{ /* < 768px */
        // display: block;
        // width: 20%;
        // min-width: auto;
    }
    @include sp{ /* < 480px */
        min-width: 195px;
    }
}

.news__list__left > time{
    // line-height: 24px;
}

.news__category{
    margin-top: 3px;
    width: 120px;
    height: 22px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 22px;
    background: $category-2;

    @include tab-s{ /* < 768px */
        margin-top: 0;
    }
    // @include sp{ /* < 480px */
    // }
}

.news__list__right{
    width: 64%;

    @include tab-s{ /* < 768px */
        width: 100%;
    }
    // @include sp{ /* < 480px */
    // }
}

.news__list__text{
    @include tab-s{ /* < 768px */
        margin-top: 5px;
    }
    // @include sp{ /* < 480px */
    // }
}

.news__btn{
    position: absolute;
    top: 165px;

    @include tab-l{ /* < 1024px */
        position: relative;
        top: 0;
        text-align: center;
        margin-top: 42px;
    }
    @include tab-s{ /* < 768px */
    }
    // @include sp{ /* < 480px */
    // }
}